.graph-wrapper{
  border: solid 1px red;
  padding: 10px;
  background-color: red;
  overflow: auto;
}


.arrow-box{
  position: relative;
  width: 10%;
  float: left;
}
.arrow-box svg{
  position: absolute;
}

.left-circles{
  width: 100px;
  float: left;
}
